canvas {
  border:1px solid black;
  position: absolute;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 0px;
  background-color: grey;
  background-size: 2000px;
  display: inline-block;
}

.pageTop {
  display: inline-block;
}

.howToPlay {
    display: inline-block;
}

.highScores {
  display: inline-block;
}

body {
  background-color: yellow;
}

.leaderBoard {
  position: absolute;
  display: inline-block;
  z-index: -1;
  margin-left: 300px;
  margin-top: 50px;
}
